<h1>{{phone.name}}
    <span class="price"> {{phone.price | currency:"$":0}} </span>
    <button class="btn btn-success"
            ng-click="addPhoneToCart()">
        ADD TO CART
    </button>
</h1>

<p class="phoneDescriptions">{{phone.description}}</p>

<div class="phone-images">
    <img ng-src="{{ mainImageUrl }}"
         class="phone"
         ng-repeat="img in phone.images"
         ng-class="{active: mainImageUrl===img}">
</div>

<ul class="phone-thumbs">
    <div class = 'phoneImgs'>
    <li ng-repeat="img in phone.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
    </li>
    </div>
</ul>

<table class="table">
    <caption> SPECIFICATIONS</caption>
    <tr>
        <th> OS</th>
        <td> {{ phone.android.os }}</td>
        <th> Display resolution</th>
        <td> {{ phone.display.screenResolution }}</td>
    </tr>
    <tr>
        <th> Display size</th>
        <td> {{ phone.display.screenSize }}</td>
        <th> Touch screen</th>
        <td> {{ phone.display.touchScreen | checkmark}}</td>
    </tr>
    <th> CPU</th>
    <td> {{ phone.hardware.cpu }}</td>
    <th> Accelerometer</th>
    <td> {{ phone.hardware.accelerometer | checkmark}}</td>
    <tr>

        <th> FM-radio</th>
        <td> {{ phone.hardware.fmRadio | checkmark }}</td>
        <th> GPS</th>
        <td> {{ phone.connectivity.gps | checkmark}}</td>
    </tr>
    <tr>
        <th> Size and weight</th>
        <td> {{ phone.sizeAndWeight.dimensions[0] }}</td>
        <td> {{ phone.sizeAndWeight.dimensions[1] }}</td>
        <td> {{ phone.sizeAndWeight.dimensions[2] }}</td>
    </tr>
    <tr>
    </tr>
</table>

<div class="panel">
    <form name="reviewForm" novalidate class="reviewForm" ng-submit="addReview(newReview)">
        <div class="well">
            <ul>
                <li><b> Name: </b> {{message.name}}</li>
                <li><b> E-mail: </b> {{message.email}}</li>
                <li><b> Comment: </b> {{message.comment}}</li>
            </ul>
        </div>
        <div class="form-group">
            <input name="authorName" type="text" class="form-control"
                   required ng-model="newReview.name" placeholder="Author's name">
        </div>
        <div class="form-group">

            <input name="authorEmail" type="email" class="form-control"
                   required ng-model="newReview.email" placeholder="Author's e-mail">
        </div>
        <div class="form-group">

            <textarea name="authorComment" type="text" class="form-control"
                      required ng-model="newReview.comment" placeholder="Type your comment here...">
                </textarea>
        </div>
        <button type="submit" class="btn btn-success"
                ng-disabled="reviewForm.$invalid">
            ADD REVIEW
        </button>
    </form>
</div>

<!--</div>-->