<div class="container-fluid thumbnail">
    <div ng-model="menuItems" class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">{{ menuItems.home }}</a></li>
            <li><a ui-sref="about">{{ menuItems.about }}</a></li>
            <li><a ui-sref="contactUs">{{ menuItems.contact }}</a></li>
        </ul>
    </div>
    <h3> {{ menuItems.storeName }} </h3>  <br/>
    <cart-summary/>
</div>