<h4>YOUR CART CONTENT</h4>
<div ng-controller="cartSummaryController">
    <div class="alert alert-info" ng-show="cartContent.length === 0">
        There are no Phones in your shopping cart.
        <a ui-sref="home" class="alert-link">Click here to return to the catalogue</a>
    </div>
    <div ng-hide="cartContent.length === 0">
        <div class="bs-example">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cartContent">
                    <td class="text-center">{{item.count}}</td>
                    <td class="text-left">{{item.id.name}}</td>
                    <td class="text-right">{{item.id.price | currency}}</td>
                    <td class="text-right">{{ (item.id.price * item.count) | currency}}</td>
                    <td class="text-center">
                        <button ng-click="remove(item.id)"
                                class="btn btn-sm btn-danger">Remove
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        {{ total() | currency }}
                    </td>
                </tr>
                </tfoot>

            </table>
            <div class="text-center">
                <a ui-sref="order">
                    <button class="btn btn-success"> CONFIRM ORDER
                    </button>
                </a>
            </div>
        </div>
    </div>
    </div>