<div class="navbar-right">
    <div class="navbar-text">
        <a ui-sref="cart"> <img id='cart' class="thumbnail" ng-click='addPhoneToCart()' ng-src='img/shopping_cart.png'>
            <h5>
                <div class="navbar-text">
                   In your cart:
                    {{itemCount()}} phone(s), </br>
                   Total sum:
                    {{total() | currency}}
                </div>
            </h5>
        </a>
    </div>
</div>

<div class="navbar-left">
</div>