<div>
    <h1> ORDER DETAILS </h1>
    <div id='reviewForm' class="panel">
        <form name="reviewForm" novalidate ng-submit="confirmOrder(user)">
            <div class="form-group">
                <input name="userName" type="text" class="form-control"
                       required ng-model="user.name" placeholder="Your name">
            </div>
            <div class="form-group">
                <input name="userEmail" type="email" class="form-control"
                       required ng-model="user.email" placeholder="Your e-mail">
            </div>
            <div class="form-group">
                <input name="userPhone" type="text" class="form-control"
                       required ng-model="user.phone" placeholder="Your phone number">
            </div>

            <a ui-sref = "success">
            <button type="submit" class="btn btn-success"
                    ng-disabled="reviewForm.$invalid">
                CONFIRM
            </button>
            </a>
        </form>
    </div>
</div>