<div class="container-fluid thumbnail main">

        <!-- SEARCHER -->
        <input type='text' class="form-control searcher"  ng-model="query" placeholder='Find a Phone...'> <br/>
            <select ng-model="orderProp" class="form-control sorter">
            <option value = ""> Sort by... </option>
            <option class="list-group-item" value="name">Alphabet</option>
            <option value="age">Newest</option>
            <option value="price">Price (from lowest to high)</option>
            <option value="-price">Price (from highest to low)</option>
        </select>
        <br/>
        <!-- SEARCHER -->

        <!-- RENDER AND SORT PHONES -->
        <ul class="phones">
            <li  class="col-md-3 col-middle phoneList" ng-repeat="phone in phones | filter : query | orderBy: orderProp">
                <a ui-sref="phone({ phoneId : phone.id })">
                    <img ng-src="{{ phone.imageUrl}}">
                    <p> {{phone.name}} </p>
                    <p> {{phone.price | currency:"$":0}} </p>
                </a>
                <div class = "btn-wrapper">
                    <button ng-click="addPhoneToCart()"
                            class="btn btn-success addToCartBtn">
                        Add to cart
                    </button>
                </div>
            </li>
        </ul>
        <!-- RENDER AND SORT PHONES -->
</div>