a {
    color: black;
}

.phones {
    list-style-type: none;
    text-align: center;
}

.col-md-3 col-middle {
    width: 75%;
    height: 75%;
}

.phoneList {
    padding: 1%;
}

.searcher {
    width: 25%;
}

.sorter {
    width: 25%;
}

.main {
    border: black;
    background-color: white;
    margin: 0%;
    font: inherit;
}
