img.phone:first-child {
    display: block;
}

h1 {
    text-align: center;
    font: inherit;
    font-size: 2em;
}

form {
    margin-right: 20%;
    margin-left: 20%;
    font: inherit;
    font-size: 1.4em;
}

form .ng-invalid.ng-dirty {
    background-color: lightpink;
}

.price {
    color: green
}

.table {
    font: inherit;
    font-size: 1.4em;
    text-align: center;
}

caption {
    text-align: center;
    color: black;
}

.well ul {
    padding: 0%;
}

.well ul li {
    list-style-type: none;
}

.phoneDescriptions {
    font: inherit;
    font-size: 1.2em;
    text-align: left;
    margin: 1% 5% 1% 5%;
}

.phone-images {

}

img.phone {
    margin-right: 33.33%;
    margin-left: 33.33%;
    background-color: white;
    padding: 2em;
    height: 25%;
    width: 25%;
    display: none;
}

ul.phone-thumbs li {
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    background-color: white;
    width: 5%;
}

ul.phone-thumbs img {
    max-width: 100%;
    padding: 1em;
}

ul.phone-thumbs img:hover {
    cursor: pointer;
}

