h4 {
    text-align: center;
}

a h5 {
    color: black;
    text-decoration: none;
}

.orderList {
    list-style-type: none
}

.btn-wrapper {
    position:relative;
    width:100%;
    height:20px;
    text-align: center;
}

.navbar-text {
    margin-bottom: 3%;
    font: inherit;
}

/*.addToCartBtn {*/
    /*left:0;*/
    /*right:0;*/
    /*margin:0;*/
/*}*/

a h5:hover {
    color: #337ab7;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#cart {
    margin-right: 37%;
    margin-left: 37%;
}

.alert {
    font-size: 1.1em;
}

